# Dataset loading

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df=pd.read_csv('/content/drive/MyDrive/datasets/dataset_research.csv') 

cols = [2,3,4,5]
df.drop(df.columns[cols],axis=1,inplace=True)

print("Shape of data=>",df.shape)

Shape of data=> (5000, 2)

# Exploratory data analysis

In [5]:
df.head(1)

                 comment                                      aspects
0  easy, very accessible  ['824.account-management.account-access.0']

In [ ]:
grouped = df[['aspects']]
grouped.head(5)

NameError: ignored